@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box
}

body {
   padding: 0;
   margin: 0;
   background-color:whitesmoke;
   font-family: Poppins, sans-serif;
   font-size: 1.2rem;
   color: white;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

h3 {
   color: black;
   padding-bottom: 25px;
   padding-top: 25px;
}

.shipping-offer {
   font-weight: 500;
   letter-spacing: .09em;
   text-transform: uppercase;
   letter-spacing: 0.1rem;
   font-size: .8125rem;
   color: white;
   padding-bottom: .80rem;
   padding-top: .80rem;
   background-image: url("/images/background.png");
   background-repeat: no-repeat;
   background-size: cover;
}

.main-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 140px;
   padding-left: 10px;
}

.brand-logo {
   display: flex;
   align-items: center;
   font-size: 1.25em;
   color: inherit;
   text-decoration: none;
}

.main-logo {
   width: 80px;
   height: 80px;
   border-radius: 10%;
   display: flex;
  
}

.main-nav ul {
   display: flex;
   margin: 0;
   padding: 0;
   list-style: none;
}

.main-nav a{
   color: black;
   text-decoration: none;
   padding: 1rem;
}

.main-nav a:hover {
   color: #adadad;
}

/* carousel */
.carousel {
   --carousel-height: calc(100vh - 185px);
}
.bg-carousel {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: var(--carousel-height);
}

.carousel-control-prev-icon, .carousel-control-next-icon  {
   background-color:black;
}

.col{
   padding-top: 25px;
   padding-bottom: 25px;
}

.card-styling{
   color: #2F303A;
}

footer {
   background-color: black;
   height: auto;
   width: 100vw;
   padding-top: 20px;
   padding-bottom: 20px;
   margin-top: auto;
   background-image: url("/images/background.png");
   background-repeat: no-repeat;
   background-size: cover;
}

li, a {
 color:  #adadad;
 text-decoration: none;
}

li :hover {
   color:  whitesmoke;
}

.form-group, form {
   margin-bottom: 1.5rem;
}
