@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	background-color: hsla(0,0%,99%,0.97);
	font-family: Poppins, sans-serif;
	font-size: 1.2rem;
	color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h3 {
	color: #171717;
	padding-bottom: 25px;
	padding-top: 25px;
}

.shipping-offer {
	font-weight: 500;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-size: 0.8125rem;
	color: white;
	padding-bottom: 0.8rem;
	padding-top: 0.8rem;
	background-image: url("/images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.brand-logo {
	display: flex;
	align-items: center;
	font-size: 1.25em;
	color: inherit;
	text-decoration: none;
}

.main-logo {
	width: 60px;
	height: 60px;
	border-radius: 10%;
	display: flex;
	border-radius: 5px;
  	box-shadow: 2px 2px 2px 2px rgba(12,12,12,0.2);
}

.main-nav ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav a {
	color: #171717;
	text-decoration: none;
	padding: 0.9rem;
}

.main-nav a:hover {
	color: #adadad;
}

/* carousel */
.carousel {
	--carousel-height: calc(100vh - 121px);
	background-image: linear-gradient(0, 0, 0, 0.5);
}
.bg-carousel {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: var(--carousel-height);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	background-color: #171717;
}

.carousel-caption {
	position: absolute;
	bottom: 1.25rem;
	top: 40%;
	left: 15%;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	color: #fff;
	text-align: center;
}

.col {
	padding-top: 25px;
	padding-bottom: 25px;
}

.card {
	color: #171717;
	border-radius: 5px !important;
  	box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2) !important;
}

.btn-dark {
	border-radius: 2px;
  	box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
}

footer {
	background-color: #171717;
	height: auto;
	width: 100vw;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: auto;
	background-image: url("/images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
}

li,
a {
	color: #adadad;
	text-decoration: none;
}

li :hover {
	color: hsla(0,0%,99%,0.97);
}

.form-group, form {
	margin-bottom: 1.5rem;
}

.accordion {
	--bs-accordion-active-color: #171717;
	--bs-accordion-active-bg: white;
	--bs-accordion-btn-focus-box-shadow: #171717;
}

i {
	padding-left: 2px;
}

icon-color :hover {
	color: hsla(0,0%,99%,0.97);
}

.bg-light {
	--bs-bg-opacity: 1;
	background-color:hsla(0,0%,99%,0.97) !important;
}

.nav-link {
	color: #171717;
}

.navbar-toggler {
	border: 2px solid #171717;
	border-radius: 2px;
  	box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
}